<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
        Videos apps
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>


  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w1280/97NPC9AI2FptBfJlMRN9psnvT13.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">

        <div>

      <h1>John Wick 4: Baba Yaga (2023)</h1>
      <p>23/03/2023 (BR) -  2h 49m</p>
      <br>
      <p>Ação, Thriller, Crime</p>

        </div>

      </ion-label>
      <ion-chip color="success" outline>
        <ion-label>81%</ion-label>
      </ion-chip>
    </ion-item>
</ion-list>


</ion-content>
